<div class="header-container">
  <h1 class="header-name">Dashboard</h1>
  <div class="search-bar">
    <div class="icon-container">
      <mat-icon
        ><span class="material-symbols-outlined"> search </span></mat-icon
      >
    </div>
    <input
      class="search-input"
      type="search"
      name="search"
      id=""
      placeholder="Search here..."
    />
  </div>
  <select name="lan" id="" class="lan">
    <option
      data-imagesrc="../../assets/usa-icon.jpg"
      data-content='<img src="../../assets/usa-icon.jpg" />'
      value="eng"
    >
      <img src="../../assets/usa-icon.jpg" />
      Eng (US)
    </option>
    <option data-content='<img src="../../assets/th-icon.png" />' value="th">
      Thai (TH)
    </option>
  </select>

  <div class="personal-info">
    <div class="notification">
      <mat-icon
        ><span class="material-symbols-outlined">
          notifications
        </span></mat-icon
      >
    </div>
    <div class="profile-container">
      <div class="profile-pic">
        <img src="../../assets/profile-pic.jpg" alt="profile-pic" />
      </div>
      <div class="profile-info">
        <h3 class="profile-name">Musfiq</h3>
        <div class="profile-position">Admin</div>
      </div>
    </div>
    <div class="arrow">
      <mat-icon
        ><span class="material-symbols-outlined"> expand_more </span></mat-icon
      >
    </div>
  </div>
</div>
