<table>
  <thead>
    <tr>
      <th width="5%">#</th>
      <th width="40%">Name</th>
      <th width="40%">Popularity</th>
      <th width="15%">Sales</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>01</td>
      <td>Home Decor Range</td>
      <td class="td-pop">
        <div class="line11"></div>
        <div class="line12"></div>
      </td>
      <td><span class="row1">45%</span></td>
    </tr>
    <tr>
      <td>02</td>
      <td>Disney Princess Pink Bag 18</td>
      <td class="td-pop">
        <div class="line21"></div>
        <div class="line22"></div>
      </td>
      <td><span class="row2">29%</span></td>
    </tr>
    <tr>
      <td>03</td>
      <td>Bathroom Essentials</td>
      <td class="td-pop">
        <div class="line31"></div>
        <div class="line32"></div>
      </td>
      <td><span class="row3">18%</span></td>
    </tr>
    <tr>
      <td>04</td>
      <td>Apple Smartwatches</td>
      <td class="td-pop">
        <div class="line41"></div>
        <div class="line42"></div>
      </td>
      <td><span class="row4">25%</span></td>
    </tr>
  </tbody>
</table>
